{% extends 'base.html' %} 

{% block content %} 
    {% if user.is_authenticated and user != profile_user %}
        <button class="follow-button btn {% if following %}
           following btn-danger{% else %}btn-success{% endif %}"
        data-author-id="{{ profile_user.pk }}"
        >{% if following %}Unfollow{% else %}Follow{% endif %}</button>
    {% endif %}
    <div class="profile-banner">
      <span class="profile-user ml-2">{{ profile_user }}</span>
      <span class="followers">Followers: <span class="followers-count">{{ profile_user.followed_by.count }}</span></span>
      <span class="following">Following: {{ profile_user.follows.count }}</span>
    </div>
  {% include 'includes/post_list.html' %}
{% endblock %}
